.container {
    margin-top: 100px !important;
}

caption {
    padding: 30px;
    font-size: 3rem;
    width: 50%;
    margin: 0 auto;
}

table.highlight tr:hover {
    background: #26a69a !important;
    color: white !important;
    border: solid 1px white !important;
}

table.highlight tr th {
    background: #26a69a !important;
    color: white !important;
    letter-spacing: 3px;
    border: solid 1px white;
    text-align: center;
    font-family: sans-serif;
}

table.highlight tr td {
    border: solid 1px #26a69a;
    font-size: 2rem;
    font-family: sans-serif;
}

.input-field.col label {
    color: white;
    font-size: 1.2rem;
    background: #26a69a;
    padding: 10px 30px;
    top: -80px;
    width: 90%;
    text-align: center;
    border: solid 2px white;
    box-shadow: 0 11px 14px -11px black;
}